.App {
  background-color:"#000000";
  text-align: center;
  background-color:"#FFFF00";
  font-family: 'viper';
}

@font-face{
  font-family: 'viper';
  src: url(assets/VIPER.TTF)
}

.banner {
  background-image: url('./assets/caution-642510.jpg');
}
